<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Masha's site</title>

    <meta name="title" property="og:title" content="{{ page.title }}">
    
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@^20.0.0/dist/primer.css" fetchpriority="high">

    <style>
        .markdown-body p { 
            line-height: 1.5 !important;
        }
    </style>
    </head>
<body class="markdown-body container-lg mx-auto my-5 p-3">

{{ content }}

</body>
</html>
